<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PO_Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PO_Search.Properties.Settings.EIWarehouseConnectionString"
            connectionString="Data Source=tcp:ei-analytics1,49172;Initial Catalog=EIWarehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PO_Search.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </PO_Search.Properties.Settings>
    </applicationSettings>
</configuration>